
body {
    font-family: Helvetica;
    max-width: 800px;
    margin: auto;
    padding-bottom: 150px;
}

h2 {
    margin: 1px 0 2px 0;
    font-family: 'Helvetica Neue';
    color: #9F0D97;
}

h3 {
    margin: 0px 0 2px 0;
    color: #5D5D5D;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    color: #2A75C0;
    margin: 80px 0 30px 0;
}

p {
    margin: 0;
    padding: 0 0 20px 0;
}

code {
    color: #B36D00;
    background-color: #FFF5D6;
    padding: 0 5px 0 5px;
    border-radius: 3px;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.column {
    flex: 3;
}

.text {
    flex: 5;
    padding: 0 30px 10px 0;
    font-size: 16px;
    line-height: 1.6;
}

.block {
    user-select: none;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 7px;
}

.separator {
    padding-top: 50px;
}