
//
// Copyright © 2016-present Kary Foundation, Inc. All Rights Reserved
//   Author: Pouya Kary <k@karyfoundation.org>
//
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
//

//
// ─── EDITOR CONTAINER ───────────────────────────────────────────────────────────
//

    #quartet-editor-container {
        height: ~'calc( 100vh - 110px )';
        width: ~'calc( 100vw + 200pt )';
        overflow: hidden;
        display: flex;
    }

//
// ─── QUARTET CODING VIEW ─────────────────────────────────────────────────────────
//

    #quartet-coding-view {
        transition-duration: 1s;
        flex: 1;
        height: inherit !important;
        background-color: var( --kary-background );
        max-width:  ~'calc( 100vw - 200pt )';
    }

//
// ─── CONSOLE VIEW ───────────────────────────────────────────────────────────────
//

    #quartet-console-view {
        transition-duration: 1s;
        flex: 1;
        height: inherit !important;
        max-width: 200pt;
        background-color: #EEE;
    }

//
// ─── HIDE CONSOLE ───────────────────────────────────────────────────────────────
//

    .hide-console-view {
        #quartet-console-view {
            max-width: 0pt !important;
            transition-duration: 1s;
        }
        #quartet-coding-view {
            max-width: 100vw !important;
            transition-duration: 1s;
        }
    }

// ────────────────────────────────────────────────────────────────────────────────
