
/*
 * Copyright 2016 Kary Foundation, Inc.
 *   Author: Pouya Kary <k@karyfoundation.org>
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 */

html {
    font-size: 12px;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

p {
    line-height: 1.5;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 20px;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 3px;
}

#main-background {
    background-color: #ECECEC;
    padding: 50px;
    width: 550px;
    height: 290px;
}

#main-text {
    position: fixed;
    left: 160px;
    top: 30px;
    width: 450px;
    overflow: hidden;
}

#icon {
    background-image: url('./icon.png');
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    position: fixed;
    top: 30px;
    left: 25px;
}