
/*
 * Copyright 2016 Kary Foundation, Inc.
 *   Author: Pouya Kary <k@karyfoundation.org>
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 */

html {
    font-size:      12px;
}

body {
    cursor:                 default;
    background-color:       #424242;
    margin:                 0;
    padding:                0;
    font-family:            Helvetica, sans-serif;
    overflow:               hidden;
}

a {
    cursor:     pointer;
    color:      white;
}

#main-background {
    -webkit-app-region:     drag;
    color:                  white;
    background-image:       url( "background.png" );
    background-position:    top center;
    background-size:        contain;
    background-color:       #ECECEC;
    padding:                50px;
    width:                  550px;
    height:                 290px;
}

#main-text {
    position:       fixed;
    left:           50px;
    top:            257px;
    width:          550px;
    overflow:       hidden;
    display:        flex;
}

#app-name {
    flex:           auto;
    font-size:      3rem;
    font-weight:    bold;
    max-width:      fit-content;
}

#app-text {
    padding:        0.4rem 0 0 2rem;
    flex:           1;
    color:          #eee;
    line-height:    1.5;
}
