
//
// Copyright 2016 Kary Foundation, Inc.
//   Author: Pouya Kary <k@karyfoundation.org>
//
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.
//

//
// ─── IMPORTS ────────────────────────────────────────────────────────────────────
//

    @import '../../globals';

//
// ─── EDITOR ─────────────────────────────────────────────────────────────────────
//

    #playground-editor {
        width: 100vw;
        height: calc( ~'100vh - 39px ' - @ribbon-height );
        color: var( --playground-text );
    }

//
// ─── MONACO STYLES ──────────────────────────────────────────────────────────────
//

    .monaco-editor.vs,
    .lines-content,
    .viwe-lines,
    .view-line,
    .token {
        color: var( --kary-foreground );
    }

    .monaco-editor .token.match {
        background-color: var( --playground-match );
        color: var( --playground-text );
    }

    .monaco-editor, .monaco-editor-background {
        background-color: var( --kary-background );
    }

    .monaco-editor .cursor {
        background: var( --playground-caret ) !important;
    }

    .monaco-editor .current-line {
        background: var( --color-5 );
        border: none;
    }

    .monaco-editor.vs .line-numbers {
        color: var( --playground-line-nums ) !important;
    }

    .monaco-editor .lines-decorations {
        background-color: transparent;
    }

//
// ─── HIGHLIGHTS ─────────────────────────────────────────────────────────────────
//

    .playground-match {
        background-color: var( --color-5 );
    }

// ────────────────────────────────────────────────────────────────────────────────
