
//
// Copyright 2016 Kary Foundation, Inc.
//   Author: Pouya Kary <k@karyfoundation.org>
//

//
// ─── IMPORTS ────────────────────────────────────────────────────────────────────
//

    @import '../../../libs/kary-scheme';
    @import '../../../globals';

//
// ─── CONSOLE VIEW ───────────────────────────────────────────────────────────────
//

    #ribbon-console-view {
        text-align: center;
        float: left;
        background-color: #F5F5F5;
        border-radius: 3px;
        margin: 11px 5px 0 5px;
        padding: 3px 10px 0 10px;
        width: ~'calc( 100vw - 453px )';
        height: 44px;
        overflow: hidden;
    }

//
// ─── CONSOLE TEXT ───────────────────────────────────────────────────────────────
//


    #ribbon-console-text {
        font-family: @source-code-pro-typeface;
        color: #CACACA;
        font-size: 9px;
        text-transform: uppercase;
        letter-spacing: 2px;
        max-height: 13px
    }

//
// ─── CONSOLE REGEXP ─────────────────────────────────────────────────────────────
//

    #ribbon-console-regexp {
        font-family: @source-code-pro-typeface;
        font-size: 18px;
        letter-spacing: 2px;
        color: #2A75C0;
    }

//
// ─── RIBBON ICONS ───────────────────────────────────────────────────────────────
//

    #ribbon-editor-compile {
        background-image: url('ribbon-editor-compile.png');
    }

    #ribbon-editor-options {
        background-image: url('ribbon-editor-options.png');
    }

    #ribbon-editor-help {
        background-image: url('ribbon-editor-help.png');
    }

// ────────────────────────────────────────────────────────────────────────────────