
//
// Copyright 2016 Kary Foundation, Inc.
//   Author: Pouya Kary <k@karyfoundation.org>
//

//
// ─── STARTING SPACER ────────────────────────────────────────────────────────────
//


    .ribbon-starting-spacer {
        float: left;
        height: 10px;
        margin-left: 7px;
    }

//
// ─── BIGGER TEXT CLASS ──────────────────────────────────────────────────────────
//

    .ribbon-playground-bigger-text {
        background-image: url('ribbon-playground-bigger-text.png');
    }

//
// ─── SMALLER TEXT CLASS ─────────────────────────────────────────────────────────
//

    .ribbon-playground-smaller-text {
        background-image: url('ribbon-playground-smaller-text.png');
    }

// ────────────────────────────────────────────────────────────────────────────────
