
//
// Kary Foundation's Brand Color Scheme
//    Copyright 2016 Kary Foundation, Inc - All Rights Reserved.
//
// IMPORTANT
//    Premission to use this color scheme is ONLY granted for use within Kary
//    Foundation Branded Projects. As a brand property you get no right to use
//    this theme with any other project.
//

//
// ─── COLORS ─────────────────────────────────────────────────────────────────────
//

    .dark {

        --theme:                  'dark';

        --kary-orange:            #B48337;
        --kary-red:               #D17051;
        --kary-magenta:           #A47097;
        --kary-blue:              #668BB7;
        --kary-green:             #7DA76F;

        --kary-foreground:        #C1C1C1;
        --kary-comment:           #5D5D5D;
        --kary-background:        #1E1E1E;

        --kary-selcetion:         #1B424E;
        --kary-highlights:        #1B1B1B;

        --color-1:                var( --kary-background );
        --color-2:                #1A1A1A;
        --color-3:                var( --kary-foreground );
        --color-4:                var( --kary-blue );
        --color-5:                #242424;

        --acent-color:            #3C8412;

        --ribbon-border-bottom:   #2B2B2B;
        --ribbon-hover-border:    #97CFFF;
        --ribbon-separator:       #444444;

        --console-color:          #2E4564;
        --console-hover-color:    rgba( 58, 81, 111, 0.9 );
        --console-title:          #ccc;
        --console-regexp:         #97CFFF;
        --console-copy-text:      var( --console-regexp );

        --playground-text:        var( --kary-blue );
        --playground-match:       #D6EEFF;

    }

// ────────────────────────────────────────────────────────────────────────────────