<html>
	<head>
		<title>Orchestra</title>

		<!-- Main Style Sheets -->
		<link rel="stylesheet" href="style.css">

        <!-- Global Storage -->
        <script src="globals/constants.js"></script>
        <script src="globals/storage.js"></script>

		<!-- Blockly Core -->
        <script src="blockly-core/blockly_compressed.js"></script>
        <script src="blockly-core/en.js"></script>

        <!-- Quartet Core -->
        <script src="quartet/regstd.js"></script>
        <script src="quartet/generator.js"></script>
        <script src="quartet/blocks.js"></script>
        <script src="quartet/blockly-styles.js"></script>
        <script src="quartet/base.js"></script>
        <script src="quartet/ui.js"></script>

        <!-- UI -->
        <script src="ui/loading-screen.js"></script>
        <script src="ui/screen-controller.js"></script>
        <script src="ui/file.js"></script>
        <script src="ui/dialogs.js"></script>
        <script src="ui/mainmenu.js"></script>
        <script src="ui/playground.js"></script>
        <script src="ui/window.js"></script>
        <script src="ui/console.js"></script>
	</head>

	<body>
        <div id="loading-view">
			<img src="opening-logo.png" width="120">
		</div>

		<div class="heading" id="toolbar">
			<!-- Tabs -->
			<div id="header-tabs" class="editor-tab"></div>

			<!-- Invisible Buttons -->
			<div id="editor-tab-invisible" class="invisible-tab"
				 onclick="onChangeWindowToEditor( );">
			</div>

			<div id="playground-tab-invisible" class="invisible-tab"
				 onclick="onChangeWindowToPlayground( );">
			</div>

			<div style="clear: both;"></div>
		</div>

		<!-- Editor View Goes Here -->
		<div id="EditorView" class="tab-view">
			<!--- EDITOR --->
			<div id="graph-and-ribbon-half">
				<div class="ribbon unselectable">
					<div class="ribbon-icon ribbon-general-new-file" onclick="onNewFile( )">New</div>
					<div class="ribbon-icon ribbon-general-open-file" onclick="onOpenFile( )">Open</div>
					<div class="ribbon-icon ribbon-general-save-file" onclick="onSaveFile( )">Save</div>

					<div class="ribbon-separator"></div>
                    <div class="ribbon-icon ribbon-editor-compile" onclick="onPerformTestDrive( );">Test Drive</div>

                    <div class="ribbon-separator"></div>
                    <div id="ribbon-console-view">
                        <div id="ribbon-console-title">Undefined</div>
                        <div id="ribbon-console-regexp"></div>
                        <button id="ribbon-console-copy-hover-button" onclick="onCopyRegExp( );">
                            <div>
                                <img src="console-copy-icon.svg" id="console-copy-icon">
                                <div id="console-copy-text">Copy</div>
                                <div style="clear: both;"></div>
                            </div>
                        </button>
                    </div>

                    <div class="ribbon-separator"></div>
                    <div class="ribbon-icon ribbon-editor-options">Options</div>

                    <div class="ribbon-separator"></div>
                    <div class="ribbon-icon ribbon-editor-help">Help</div>

					<div style="clear: both;"></div>
				</div>

				<!-- View -->
        		<div id="quartet-coding-view"></div>
			</div>
		</div>



        <!-- Editor View Goes Here -->
		<div id="PlaygroundView" class="tab-view" hidden="true">
            <div class="ribbon unselectable">
                <div class="ribbon-starting-spacer"></div>
                <div class="ribbon-icon ribbon-general-open-file">Load Text</div>
                <div class="ribbon-separator"></div>
                <div class="ribbon-icon ribbon-playground-smaller-text">Smaller Text</div>
                <div class="ribbon-icon ribbon-playground-bigger-text">Bigger Text</div>
            </div>
            <div id="playground-editor"></div>
        </div>


		<!-- Toolbox Definition -->
        <xml id="toolbox" style="display: none">
            <block type="comment"></block>
            <block type="one_or_more"></block>
            <block type="any_number_of"></block>
            <block type="match"></block>
            <block type="maybe"></block>
            <block type="one_of"></block>
            <block type="option"></block>
            <block type="lookahead"></block>
            <block type="repeat"></block>
            <block type="repeat_at_least"></block>
            <block type="repeat_in_range"></block>
            <block type="alphabet"></block>
            <block type="range"></block>
            <block type="anything_but"></block>
            <block type="sigma"></block>
            <block type="encode"></block>
            <block type="free_form_regex"></block>
            <block type="unicode"></block>
            <block type="any"></block>
            <block type="whitespace"></block>
            <block type="special_whitespace"></block>
            <block type="line_start"></block>
            <block type="line_end"></block>
        </xml>


		<!-- Init Page -->
        <script>
            initWindow( );
        </script>

        <script src="vs/loader.js"></script>
		<script src="monaco.js"></script>
		<script>
            initMonacoEditor( );
			CancelLoadingScreenAfterCompleteLoad( );
		</script>
	</body>
</html>
