<html>
	<head>
		<title>Orchestra</title>
		<!-- Main Graph Tools -->
		<link rel="stylesheet" href="style.css">
		<!-- Blockly Core -->
        <script src="blockly-core/blockly_compressed.js"></script>
        <script src="blockly-core/en.js"></script>

        <!-- Quartet Core -->
        <script src="core/regstd.js"></script>
        <script src="core/generator.js"></script>
        <script src="core/blocks.js"></script>
        <script src="core/blockly-styles.js"></script>
        <script src="core/base.js"></script>
        <script src="core/ui.js"></script>
        <script src="loading-screen.js"></script>
	</head>

	<body>
        <div id="loading-view">
			<img src="opening-logo.png" width="120">
		</div>

		<div class="heading" id="toolbar">
			<!-- Tabs -->
			<div id="header-tabs" class="editor-tab"></div>

			<!-- Invisible Buttons -->
			<div id="editor-tab-invisible" class="invisible-tab"
				 onclick="">
			</div>

			<div id="programmer-tab-invisible" class="invisible-tab"
				 onclick="">
			</div>

			<div style="clear: both;"></div>
		</div>

		<!-- Editor View Goes Here -->
		<div id="EditorView" class="tab-view">
			<!--- EDITOR --->
			<div id="graph-and-ribbon-half">
				<div class="ribbon unselectable">
					<div id="ribbon-general-new-file" class="ribbon-icon">New</div>
					<div id="ribbon-general-open-file" class="ribbon-icon">Open</div>
					<div id="ribbon-general-save-file" class="ribbon-icon">Save</div>

					<div class="ribbon-separator"></div>
                    <div id="ribbon-editor-compile" class="ribbon-icon">Test Drive</div>

                    <div class="ribbon-separator"></div>
                    <div id="ribbon-console-view">
                        <div id="ribbon-console-text">RegEx</div>
                        <div id="ribbon-console-regexp"></div>
                        <button id="ribbon-console-copy-hover-button" onclick="onCopyRegExp( );">
                            <div>
                                <img src="console-copy-icon.svg" id="console-copy-icon">
                                <div id="console-copy-text">Copy</div>
                                <div style="clear: both;"></div>
                            </div>
                        </button>
                    </div>

                    <div class="ribbon-separator"></div>
                    <div id="ribbon-editor-options" class="ribbon-icon">Options</div>

                    <div class="ribbon-separator"></div>
                    <div id="ribbon-editor-help" class="ribbon-icon">Help</div>

					<div style="clear: both;"></div>
				</div>

				<!-- View -->
        		<div id="quartet-coding-view"></div>
			</div>
		</div>


		<!-- Toolbox Definition -->
        <xml id="toolbox" style="display: none">
            <block type="comment"></block>
            <block type="one_or_more"></block>
            <block type="any_number_of"></block>
            <block type="match"></block>
            <block type="maybe"></block>
            <block type="one_of"></block>
            <block type="option"></block>
            <block type="lookahead"></block>
            <block type="repeat"></block>
            <block type="repeat_at_least"></block>
            <block type="repeat_in_range"></block>
            <block type="alphabet"></block>
            <block type="range"></block>
            <block type="anything_but"></block>
            <block type="sigma"></block>
            <block type="encode"></block>
            <block type="free_form_regex"></block>
            <block type="unicode"></block>
            <block type="any"></block>
            <block type="whitespace"></block>
            <block type="special_whitespace"></block>
            <block type="line_start"></block>
            <block type="line_end"></block>
        </xml>


		<!-- Init Page -->
        <script>
            initWindow( );
            CancelLoadingScreenAfterCompleteLoad( );
        </script>
	</body>
</html>
