<!DOCTYPE Html>
<html>
    <!--
      -- Copyright 2016-present Kary Foundation, Inc.
      --   Author: Pouya Kary <k@karyfoundation.org>
      --
      -- This Source Code Form is subject to the terms of the Mozilla Public
      -- License, v. 2.0. If a copy of the MPL was not distributed with this
      -- file, You can obtain one at http://mozilla.org/MPL/2.0/.
      --
      -->
	<head>
		<title>Orchestra</title>

		<!-- Main Style Sheets -->
		<link rel="stylesheet" href="style.css">

        <!-- Global Storage -->
        <script src="globals/constants.js"></script>
        <script src="globals/storage.js"></script>

		<!-- Blockly Core -->
        <script src="blockly-core/blockly_compressed.js"></script>
        <script src="blockly-core/en.js"></script>

        <!-- Blockly Render -->
        <script src="blockly-render/exporter.js" async></script>

        <!-- Quartet Core -->
        <script src="quartet/regstd.js" async></script>
        <script src="quartet/generator.js"></script>
        <script src="quartet/blocks.js"></script>
        <script src="quartet/blockly-styles.js"></script>
        <script src="quartet/base.js"></script>
        <script src="quartet/ui.js"></script>
        <script src="quartet/loader.js"></script>

        <!-- UI -->
        <script src="ui/loading-screen.js"></script>
        <script src="ui/screen-controller.js" async></script>
        <script src="ui/file.js" async></script>
        <script src="ui/dialogs.js" async></script>
        <script src="ui/window.js"></script>
        <script src="ui/trafficlights.js" async></script>
        <script src="ui/console.js" async></script>
        <script src="ui/side-console.js" async></script>
        <script src="ui/menu.js" async></script>
        <script src="ui/import-regexp.js" async></script>
        <script src="ui/playground.js"></script>
	</head>

	<body>
        <div id="loading-view">
            <div id="opening-logo">

            </div>
		</div>

		<div class="heading" id="toolbar">
            <!-- Window Buttons -->
            <div id="window-buttons">
                <div id="window-button-close"
                     class="window-button-close-active"
                     onclick="fireWindowCloseRequest( )">
                </div>
                <div id="window-button-minimize"
                     class="window-button-minimize-active"
                     onclick="fireWindowMinimizeRequest( )">
                </div>
                <div id="window-button-maximize"
                     class="window-button-maximize-active"
                     onclick="fireWindowMaximizeRequest( )">
                </div>
            </div>

			<!-- Tabs -->
			<div id="header-tabs" class="editor-tab"></div>

			<!-- Invisible Buttons -->
			<div id="editor-tab-invisible" class="invisible-tab"
				 onclick="onChangeWindowToEditor( );">
			</div>

			<div id="playground-tab-invisible" class="invisible-tab"
				 onclick="onChangeWindowToPlayground( );">
			</div>

			<div style="clear: both;"></div>
		</div>

		<!-- Editor View Goes Here -->
		<div id="EditorView" class="tab-view">
			<!-- EDITOR -->
			<div id="orchestra-and-ribbon-half">
				<div class="ribbon unselectable">
					<div class="ribbon-icon ribbon-general-new-file" onclick="onNewFile( )">New</div>
					<div class="ribbon-icon ribbon-general-open-file" onclick="onOpenFile( )">Open</div>
					<div class="ribbon-icon ribbon-general-save-file" onclick="onSaveFile( )">Save</div>

					<div class="ribbon-separator"></div>
                    <div class="ribbon-icon ribbon-editor-regexp-importer"
                         onclick="onOpenOrCloseImportRegExpDialog( )"
                         id="import-regexp-ribbon-button">Import RegExp</div>

                    <div class="ribbon-separator"></div>
                    <div id="ribbon-console-view">
                        <div id="ribbon-console-title"></div>
                        <div id="ribbon-console-regexp"></div>
                        <button id="ribbon-console-copy-hover-button" onclick="onCopyRegExp( );">
                            <div>
                                <div id="console-copy-icon"></div>
                                <div id="console-copy-text">Copy</div>
                                <div style="clear: both;"></div>
                            </div>
                        </button>
                    </div>

                    <div class="ribbon-separator"></div>
                    <div class="ribbon-icon ribbon-editor-toggle-console" id="toggle-console-icon" onclick="onToggleSideConsole( );">Console</div>

                    <div class="ribbon-separator"></div>
                    <div class="ribbon-icon ribbon-editor-export-svg" onclick="onExportWorkspaceToSVG( );">Export SVG</div>

                    <div class="ribbon-separator"></div>
                    <div class="ribbon-icon ribbon-editor-help" onclick="onOpenHelpPage( );">Reference</div>

					<div style="clear: both;"></div>

                    <!-- Dialog for the RegExp Importer -->
                    <div id="regexp-importer" class="hide-dialog" hidden="true">
                        <h1>Import RegExp</h1>
                        <p>This tool compiles your existing RegExp codes into optimized Quartet Language.<br>NOTICE: This action overwrites the existing blocks.</p>
                        <div class="regexp-importer-input-box">
                            <input id="regexp-importer-input"
                                type="text"
                                placeholder="Your RegExp Goes Here"
                                onkeyup="onRegExImporterOnKeypress( event )"
                                onchange="onRegExImporterOnKeypress( event )">
                            <button id="regexp-importer-button"
                                    onclick="onImportRegExp( )">import</button>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
				</div>

				<!-- View -->
                <div id="quartet-editor-container">
                    <!-- The most important div of all times. Where we inject the Blockly engine -->
                    <div id="quartet-coding-view"></div>

                    <!-- Full Console View -->
                    <div id="quartet-console-view">
                        <div id="quartet-console-view-title">Console</div>
                        <div id="quartet-console-view-content"></div>
                    </div>
                </div>
			</div>
		</div>



        <!-- Editor View Goes Here -->
		<div id="PlaygroundView" class="tab-view" hidden="true">
            <div class="ribbon unselectable">
                <div class="ribbon-starting-spacer"></div>
                <div class="ribbon-icon ribbon-general-open-file"
                     onclick="onOpenFileOnPlayground( )">Load Text</div>
                <div class="ribbon-separator"></div>
                <div class="ribbon-icon ribbon-playground-smaller-text">Smaller Text</div>
                <div class="ribbon-icon ribbon-playground-bigger-text">Bigger Text</div>
            </div>
            <div id="playground-editor"></div>
        </div>


		<!-- Toolbox Definition -->
        <xml id="toolbox" style="display: none">
            <block type="comment"></block>
            <block type="one_or_more"></block>
            <block type="any_number_of"></block>
            <block type="match"></block>
            <block type="maybe"></block>
            <block type="one_of"></block>
            <block type="option"></block>
            <block type="lookahead"></block>
            <block type="repeat"></block>
            <block type="repeat_at_least"></block>
            <block type="repeat_in_range"></block>
            <block type="alphabet"></block>
            <block type="range"></block>
            <block type="anything_but"></block>
            <block type="sigma"></block>
            <block type="exclude"></block>
            <block type="sigma_range"></block>
            <block type="sigma_chars"></block>
            <block type="sigma_wildcard"></block>
            <block type="encode"></block>
            <block type="free_form_regex"></block>
            <block type="any"></block>
            <block type="line_start"></block>
            <block type="line_end"></block>
            <block type="word"></block>
            <block type="anything_but_word"></block>
            <block type="digit"></block>
            <block type="anything_but_digit"></block>
            <block type="whitespace"></block>
            <block type="anything_but_whitespace"></block>
            <block type="special_whitespace"></block>
            <block type="boundary"></block>
            <block type="anything_but_boundary"></block>
        </xml>


		<!-- Init Page -->
        <script>
            initWindow( );
        </script>

        <script src="vs/loader.js"></script>
		<script src="ui/playground.js"></script>
		<script>
            initMonacoEditor( );
            function openHelpWindowForReference ( refID ) {
                ipcRenderer.send( 'open-help-for-ref', refID );
            }
			CancelLoadingScreenAfterCompleteLoad( );
		</script>
	</body>
</html>
